@{
    ViewData["Title"] = "Submit Academic Query";
    int queryTypeId = ViewBag.QueryTypeID;
    var categories = ViewBag.QueryCategories as ICollection<Apptivate_UQMS_WebApp.Models.QueryModel.QueryCategory>;
    var studentDetail = ViewBag.StudentDetail as Apptivate_UQMS_WebApp.Models.Account.StudentDetail;
}



<h1>Submit an Academic Query</h1>

<div class="student-details-card">
    <h2>Student Details</h2>
    <p><strong>ID:</strong> @studentDetail.StudentID</p>
    <p><strong>Department:</strong> @studentDetail.Department</p>
    <p><strong>Course:</strong> @studentDetail.Course</p>
    <p><strong>Year:</strong> @studentDetail.Year</p>
</div>

<div class="query-form-section">
    <h2>Create a Query</h2>
    <p>Write and address new queries and issues</p>
    <form class="query-form" asp-action="SubmitAcademicQuery" method="post">

        <input type="hidden" name="QueryTypeID" value="@queryTypeId" />

        <label for="query-category">Query Category</label>
        <select id="query-category" name="CategoryID">
            @foreach (var category in categories)
            {
                <option value="@category.CategoryID">@category.CategoryName</option>
            }
        </select>



        <label for="ticket-body">Ticket Body</label>
        <textarea id="ticket-body" name="TicketBody" rows="4" placeholder="Type query here..."></textarea>

        <!-- 
        <div class="media-upload">
            <p>Drag your file(s) to start uploading</p>
            <span>OR</span>
            <label for="media-upload" class="upload-btn">Browse files</label>
            <input type="file" id="media-upload" name="MediaUpload" style="display: none;">
            <p class="file-types">Only support .jpg, .png, .svg, and .zip files</p>
        </div>
        -->
        <button type="submit">Submit</button>
    </form>
</div>
